$header-bg:transparent;
$main-color:#FFFFFF;
$border-color:rgb(94, 89, 89);
$hover-color:#FD784F;
$media-bg-color:#0e1d41;
$a-color:black;
$span-color:#b0b1b3;
$box-color:#EDEFF4;
$text-color:#838383;
$span-second-color:#2e2e2e;
$icon-color:#374a7c;